<script>
  window.banner="<%=image_url("etsy-banner.png")%>"
  window.footer="<%=image_url("etsy-footer.png")%>"
</script>
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root"></main>