.header-link {
    color: rgba(224, 109, 54, 1.0);
    text-decoration: none;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.search-bar {
    width: 900px;
    padding: 9px 42px 9px 18px;
    height: 30px;
    border-radius: 25px;
    background-color: lightgray;
    text-align: left;
}

// TODO: no more naming classes "-div", refactor!
.nav-div {
    margin: 24px auto;
    max-width: 1500px;
}

.nav-container {
    align-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    vertical-align: middle;
}

.nav-controls {
    align-items: center;
    display: flex;
}

// Don't do this! Just give the dropdown list its own class
.dropdown-div ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    width: 1460px;
    position: relative;
    margin: auto;
}

  

.shopping-cart {
    font-size: 20px; 
    border-radius: 20px;
    vertical-align: text-bottom;  
    padding: 10px; 
    &:hover{
        background-color: lightgray;
        transition: background-color .2s ease-in-out;
    }
}

.user-circle {
    font-size: 20px;
    padding: 10px; 
}

.signin-submit {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 25px;
    height: 30px;
    width: 44px;
    padding: 0px 15px;
    justify-content: center;
    flex-direction: column;
    &:hover{
        background-color: lightgray;
        transition: background-color .2s ease-in-out;
    }
}
