.product-list {
    display: contents;
    overflow: scroll;
    margin: 10px;
}

.products {
    margin: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.product-listing {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.product-picture {
    width: 210px;
    height: 167px;
}

.create-product-button {
    color: purple;
}

.header-name {
    font-weight: lighter;
}