.product-picture-show {
    max-width: 640px;
    max-width: 640px;
    border-radius: 5px;
    margin-right: 64px;
}

.product-show-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 225px;
    margin-right: 255px;
    margin-top: 30px;
}

.product-info-div {
    width: 430px;
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

.seller-heading {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-bottom: 30px;
}

.product-heading {
    font-weight: 900;
    font-size: 26px;
    font-family: Cormorant Garamond;
    font-weight: lighter;
}

.product-price {
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
}

.price-quantity-div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description-heading {
    font-size: 13px;
    font-family: sans-serif;
}

.description {
    font-size: 16px;
    font-family: sans-serif;
}
