.user-review-div {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.review-div {
    flex-wrap: wrap;
    flex-direction: column;
}

.review-list {
    flex-wrap: wrap;
    flex-direction: column;
}

.review-listing {
    margin-top: 7px;
    margin-bottom: 7px;
    flex-wrap: wrap;
    flex-direction: column;
}

.review-item-div {
    flex-wrap: wrap;
    flex-direction: column;
}

.avg-review-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 26px;
    margin-bottom: 38px;
}

.reviews-header {
    font-size: 26px;
    font-weight: lighter;
    margin-right: 3px;
}

.author-circle {
    margin-right: 5px;
}

.author {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.comment {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.comment-user-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    //justify-content: center;
    vertical-align: text-bottom;
    //padding: 2px;
    margin-bottom: 2px;
}

.stars-div{
    flex-wrap: wrap;
    flex-direction: row;
}

.avg-stars-array{
    transform: translate(0%, 20%);
    font-size: 20px;
    margin-right: 3px;
}

.stars-array{
    margin-right: 3px;
}

hr {
    flex-wrap: wrap;
    flex-direction: row;
}