.review-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.review-form-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.review-form-fields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}