.splash-div {
    position: relative;
    text-align: center;
}

.centered-text {
    position: absolute;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 48px;
}

.splash-paragraph-title {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-bottom: 10px;
}

.splash-paragraph-text {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: lighter;
}

.splash-text-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.splash-paragraph-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 275px;
    margin-left: 10px;
    margin-right: 10px;
}

.etsy-footer-div {
    position: relative;
    text-align: center;
    color: white;
}

.etsy-icons-div {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}