/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header-link {
   color: rgba(224, 109, 54, 1.0);
   text-decoration: none;
   transform: translate(10%, -10%);  
}

.search-bar {
   width: 80%;
   padding: 9px 42px 9px 18px;
   height: 45px;
   transform: translate(0%, 30%);
   border-radius: 25px;
   background-color: lightgray;
}

  .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 360px;
   height: 763px;
   background: white;
   font-family: sans-serif;
   padding: 18px;
   border-radius: 3px;

 }

 
 .login-form-box > h1{
    font-size: 20px;
    font-weight: normal; 
    
   }
   
   .login-form-box > h2{
      font-size: 15px;
      font-weight: normal;
   }
   
   .login-form > label input{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 9px 12px;
      border-radius: 5px;
      width: 92%;
      height: 25px;
      font-size: 17px;
   }
   
   .login-form > label{
      margin: 0px 0px 6px;
   }
   
   .session-submit {
      border-radius: 25px;
      color: white;
      background: black;
      align-self: center;
      width: 100%;
      padding: 12px 18px;
      font-size: 16px;
   }
   
   .nav-div {
      display: flex;
      flex-direction: row;
      align-content: space-between;
      justify-content: space-between;
      padding: 0px 36px;
      vertical-align: middle;
   }

   .dropdown-div ul{
      display: flex;
      flex-direction: row;
      vertical-align: middle;
      justify-content: space-between;
      padding: 0px 18px;
      font-style: sans-serif;
   }

   .signin-submit {
      font-size: 13px;
      font-family: sans-serif;
      border-radius: 25px;
      height: 30px;
      padding: 0px 15px;
      align-content: center;
      vertical-align: middle;
      transform: translate(0%, 70%);
   }

   .shopping-cart {
      font-size: 30px; 
      transform: translate(0%, 70%);   
   }